body{
    background-color: rgb(187, 202, 207);
}
.alinear{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 1px solid red;
    margin-top: 4px;
}